@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.section {
  color: white;
}

.logo {
  width: 60px;
}

.navbar {
  z-index: 999;
  padding:5px;
  position: fixed;
  top: 0;
  right: 40;
  width: 100%;
  background-color: white;
  font-family: 'Anton', sans-serif;
  font-size: 40px;
}

.half {
  width: 50%;
  float: left;
  height: 100%;
}

.header {
  font-size: 180px;
}

.subheader {
  font-size: 50px;
  padding: 0;
  margin: 0;
}

.left {
  text-align: left;
}

.no-padding {
  font-size: 150px;
  padding: 0;
  margin: 0;
}

.group {
  margin-bottom: 90px;
}

ul {
  list-style-type: none;
}

h1, h3 {
  text-align: center;
}

.center {
  text-align: center;
}

.title {
  display: inline;
  color: #ff5f45;
  margin-top: 0;
}

.subheader{
  margin-bottom: 40px;
  margin-top: 40px;
}
.top {
  margin-top: 20px;
  font-size:30px;
  font-weight: bold;
}
